/*

    payste.io css framework
	...this one is for you haters
	add some structure to your life
	and write much faster, smarter html


	 ,6"Yb.
	8)   MM
	 ,pm9MM
	8M   MM
	`Moo9^Yo.

*/

.socialMediaIcons {
    position: fixed;
    bottom: 0;
    right: 0;
}
.socialMediaIcons ul {
    list-style-type: none;
    margin: 0;
}
.socialMediaIcons ul li {
    display: inline;
    /*
    position: relative;
    */
}
.socialMediaIcons ul li a {
    /*
    position:absolute;
    bottom: 0;
    right: 0;
    */
    float: left;
    display: block;
    margin-right:10px;
    width: 45px;
    height: 45px;
    opacity: 0.7;
    border-radius: 5px;
    background: #262626;
    text-indent: -9999em;
    border: 3px solid white;
    padding: 5px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transiton: .5s;
}
.socialMediaIcons.hidden ul li a{
    opacity: 0.1;
}

.socialMediaIcons ul li a:hover {
    opacity: 0.8;
    /*
    width:75px;
    height:75px;
    */
}
