.mb0, .ma0{
    margin-bottom: 0 !important;
}

.mt0, .ma0{
    margin-top: 0 !important;
}

.mr0, .mlr0, .ma0 {
    margin-right: 0 !important;
}

.ml0, .mlr0, .ma0 {
    margin-left: 0 !important;
}